<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="widget_base_width" content="116">
    <meta name="widget_base_height" content="131">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="longpoll" content="1"> <!-- 1=longpoll;0=shortpoll every 30sec -->
    <meta name="debug" content="0"> <!-- 1=output to console;0=no output -->

    <link rel="stylesheet" href="/fhem/tablet/lib/jquery.gridster.min.css" />
    <link rel="stylesheet" href="/fhem/tablet/css/fhem-tablet-ui.css" />
    <link rel="stylesheet" href="/fhem/tablet/lib/font-awesome.min.css" />
    <link rel="stylesheet" href="/fhem/tablet/lib/jquery.toast.min.css" />

    <link rel="stylesheet" href="/fhem/tablet/css/fhem-mobil-ui.css" />

    <script src="/fhem/pgm2/jquery.min.js" defer></script>
    <script src="/fhem/tablet/lib/jquery.toast.min.js" defer></script>
    <script src="/fhem/tablet/lib/jquery.gridster.min.js" defer></script>
    <script src="/fhem/tablet/js/fhem-tablet-ui.min.js" defer></script>

    <title>Heimbot</title>
  </head>
  <body>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="5">
          <header>Wetter Köln</header>
          <div class="container row">
            <div class="container row">
              <div class="cell left">
                <div data-type="label" class="large left">Heute</div>
              </div>
            </div>
            <div class="container row">
              <div class="cell left">
                <div data-type="label" data-device="feinstaub_waidmarkt" data-get="temperature" class="inline"></div>&deg;C und <div data-type="label" data-device="feinstaub_waidmarkt" data-get="humidity" class="inline"></div>% Luftfeuchte
              </div>
           </div>
            <div class="container row">
              <div data-type="weather" data-device="wetter_koeln" data-get="condition" class="cell big"></div>
            </div>
          </div>
          <hr>
{% for i in [2, 3, 4, 5, 6] %}
          <div class="container row">
            <div class="container row">
              <div class="cell left">
                <div data-type="label" data-device="wetter_koeln" data-get="fc{{ i }}_day_of_week" class="large left"></div>
              </div>
              <div class="cell right">
                <div data-type="label" data-device="wetter_koeln" data-get="fc{{ i }}_date" class="large left"></div>
              </div>
            </div>
            <div class="container row">
              <div class="cell left">
                <div data-type="label" data-device="wetter_koeln" data-get="fc{{ i }}_condition" class="inline"></div>bei <div data-type="label" data-device="wetter_koeln" data-get="fc{{ i }}_low_c" class="inline"></div>bis <div data-type="label" data-device="wetter_koeln" data-get="fc{{ i }}_high_c" class="inline"></div>&deg;C
              </div>
            </div>
            <div class="container row">
              <div data-type="weather" data-device="wetter_koeln" data-get="fc{{ i }}_condition" class="cell big"></div>
            </div>
          </div>
          <hr>
{% endfor %}
        </li>
{% for (room, r) in _fhem_tablet_ui.rooms|dictsort %}
        <li data-row="1" data-col="{{ loop.index + 1 }}" data-sizex="1" data-sizey="5">
          <header>{{ room }}</header>
{% for (name, d) in r.devices|dictsort %}
          <div data-type="switch" data-device="{{ name }}" data-get-on="on" data-get-off="off" class="cell" data-icon="{% if d.gen_type == 'light' %}fa-lightbulb-o{% else %}fa-power-off{% endif %}"></div>
          <div data-type="label" class="cell top-narrow">{{ d.alias }}</div>
{% endfor %}
        </li>
{% endfor %}
        <li data-row="6" data-col="1" data-sizex="{{ _fhem_tablet_ui.rooms|dictsort|length + 2 }}" data-sizey="1">
          <header>Information</header>
          <div data-type="label" class="cell inline">Uptime, Load, Temperatur:</div>
          <div data-type="label" data-device="sysstat" data-get="uptime" class="cell inline"></div>,
          <div data-type="label" data-device="sysstat" data-get="state" class="cell inline"></div>,
          <div data-type="label" data-device="sysstat" data-get="temperature" data-unit="%B0C%0A" class="cell inline"></div>
        </li>
      </ul>
    </div>
  </body>
</html>

