<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ ansible_hostname|capitalize }}</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="reloader.js"></script>
  </head>
  <body>

    <div id="wrapper">

      <h2><i class="fa fa-bars">&nbsp;</i>{{ ansible_hostname|capitalize }}</h2>

      <h3>Home Automatization</h3>
      <ul class="buttons" style="margin-bottom: 25px;">
        <li><a href="https://{{ ansible_fqdn }}:8083/fhem/tablet"><i class="fa fa-plug">&nbsp;</i>Dashboard</a></li>
      </ul>

      <h3>Services</h3>
      <ul class="buttons" style="margin-bottom: 25px;">
        <li><a href="https://{{ ansible_fqdn }}:8083/fhem"><i class="fa fa-plug">&nbsp;</i>Fhem</a></li>
        <li><a href="http://kevin.fritz.box:30000"><i class="fa fa-gitlab">&nbsp;</i>GitLab</a></li>
        <li><a href="http://kevin.fritz.box:9091"><i class="fa fa-download">&nbsp;</i>Transmission</a></li>
      </ul>

      <h3>Machines</h3>
      <ul class="buttons" style="margin-bottom: 25px;">
        <li><a href="https://kevin.{{ ansible_domain }}:5001"><i class="fa fa-database">&nbsp;</i>Kevin</a></li>
        <li><a href="https://esel.{{ ansible_domain }}:5001"><i class="fa fa-database">&nbsp;</i>Esel</a></li>
        <li><a href="http://fritz.box"><i class="fa fa-random">&nbsp;</i>Fritz Box</a></li>
        <li><a href="http://192.168.101.2"><i class="fa fa-wifi">&nbsp;</i>R6400</a></li>
      </ul>

      <h3>Monitoring</h3>
      <ul class="buttons" style="margin-bottom: 25px;">
        <li><a href="http://{{ ansible_fqdn }}:8404/monitor"><i class="fa fa-table">&nbsp;</i>HAProxy</a></li>
        <li><a href="https://webserver.centerdevice.de:8170"><i class="fa fa-line-chart">&nbsp;</i>Bosun</a></li>
      </ul>

    </div>

  </body>
</html>

