# ========================
# GLOBAL ATTRIBUTES
# ========================
attr global autoload_undefined_devices 0
attr global logfile ./log/fhem-%Y-%m.log
attr global modpath .
attr global motd none
attr global sendStatistics onUpdate
attr global statefile ./log/fhem.save
attr global uniqueID ./FHEM/FhemUtils/uniqueID
attr global updateInBackground 1
attr global verbose 3
attr global userattr cmdIcon devStateIcon devStateStyle fm_type icon room_map sortby structexclude webCmd widgetOverride genericDeviceType:ignore,switch,outlet,light,blind,speaker,thermostat,lock,window,contact

# ========================
# APIs and GUIs
# ========================

define WEB FHEMWEB 8083
attr WEB JavaScripts codemirror/fhem_codemirror.js
# HAProxy takes care to this # attr WEB basicAuth {{ (_fhem.security.web.user ~ ":" ~ _fhem.security.web.password) | b64encode }}
attr WEB codemirrorParam { "theme":"blackboard", "lineNumbers":true }
attr WEB stylesheetPrefix dark
attr WEB sortRooms Flur Arbeitszimmer Wohnzimmer
attr WEB roomIcons Flur:scene_summerhouse Wohnzimmer:scene_livingroom Arbeitszimmer:scene_workshop
attr WEB group Licht

define TABLETUI HTTPSRV tablet /opt/fhem-tablet-ui/www/tablet Tablet-UI

# Fake FileLog entry, to access the fhem log from FHEMWEB
define autocreate autocreate
attr autocreate filelog ./log/%NAME-%Y-%m.log

define eventTypes eventTypes ./log/eventTypes.txt

# ========================
# Sysstat
# ========================

define sysstat SYSSTAT 60 60
attr sysstat filesystems /dev/mmcblk0p1,/dev/root
attr sysstat showpercent 1
attr sysstat raspberrytemperature 1
attr sysstat uptime 1
attr sysstat room System
define sysstatlog FileLog ./log/sysstat-%Y-%m.log sysstat
attr sysstatlog nrarchive 1
define SVG_sysstat SVG sysstatlog:sysstat:CURRENT
attr SVG_sysstat label "Load Min: $data{min1}, Max: $data{max1}, Current: $data{currval1}"
attr SVG_sysstat room System,Plots

# ========================
# IO DEVICES
# ========================

# Disable this to avoid looking for new USB devices on startup
# define initialUsbCheck notify global:INITIALIZED usb create

define CUL_868 CUL {{ _fhem.io.devices.cul.868.device_path }}@9600 1034
attr CUL_868 hmId {{ _fhem.homematic.hmId }}
attr CUL_868 icon cul_868
attr CUL_868 rfmode HomeMatic

define CUL_433 CUL {{ _fhem.io.devices.cul.433.device_path }}@9600 1134
attr CUL_433 icon cul_cul

# ========================
# DEVICE DEFINITIONS
# ========================

# ========================
# InterTechno Switches
# ========================
#
# genericDeviceType setzt den Gerätetypen für Homebridge / HomeKit -- cf. http://forum.fhem.de/index.php/topic,32652.msg377941.html#msg377941
#
{% for (name, s) in _fhem.intertechno.devices|dictsort %}
# ------------------------
define {{ name }} IT {{ s.code }}  FF F0
attr {{ name }} userattr room_map structexclude
attr {{ name }} IODev CUL_433
{% if s.alias is defined %}
attr {{ name }} alias {{ s.alias }}
{% endif %}
attr {{ name }} genericDeviceType {{ s.gen_type }}
attr {{ name }} group {{ s.group }}
attr {{ name }} icon {{ s.icon|default("light_light") }}
attr {{ name }} model itswitch
attr {{ name }} room {{ s.rooms|join(',') }},IT
# ------------------------

{% endfor %}


# ========================
# HomeMatic
# ========================
# cf. http://www.fhemwiki.de/wiki/HM-ES-PMSw1-Pl_Funk-Schaltaktor_1-fach_mit_Leistungsmessung#Plots.2FGrafiken for HM-ES-PMSw1-Pl
#
define ActionDetector CUL_HM 000000
attr ActionDetector event-on-change-reading .*
attr ActionDetector model ActionDetector

{% for (name, d) in _fhem.homematic.devices|dictsort %}
# ------------------------
define {{ name }} CUL_HM {{ d.address }}
attr {{ name }} serialNr {{ d.serialNr }}
attr {{ name }} subType {{ d.subType }}
attr {{ name }} IODev {{ d.IODev }}
attr {{ name }} actCycle {{ d.actCycle }}
attr {{ name }} actStatus {{ d.actStatus }}
attr {{ name }} autoReadReg {{ d.autoReadReg }}
attr {{ name }} expert {{ d.expert }}
attr {{ name }} firmware {{ d.firmware }}
attr {{ name }} model {{ d.model }}
attr {{ name }} room hidden
attr {{ name }} webCmd {{ d.webCmd }}
{% if d.alias is defined %}
attr {{ name }} alias {{ d.alias }}
{% endif %}

define FileLog_{{ d.address }} FileLog ./log/{{ d.address }}-%Y-%m.log {{ name }}|{{ name }}_Power:.*
attr FileLog_{{ d.address }} logtype text
attr FileLog_{{ d.address }} room hidden

{% for c in d.channels %}
define {{ name }}_{{ c.name }} CUL_HM {{ d.address }}{{ "%02d"|format(c.channel) }}
attr {{ name }}_{{ c.name }} model {{ d.model }}
{% if c.subType is defined %}
attr {{ name }}_{{ c.name }} subType {{ c.subType }}
{% endif %}
{% if c.alias is defined %}
attr {{ name }}_{{ c.name }} alias {{ c.alias }}
{% endif %}
{% if c.group is defined %}
attr {{ name }}_{{ c.name }} group {{ c.group }}
{% endif %}
{% if c.gen_type is defined %}
attr {{ name }}_{{ c.name }} genericDeviceType {{ c.gen_type }}
{% endif %}
{% if c.icon is defined %}
attr {{ name }}_{{ c.name }} icon {{ c.icon }}
{% endif %}
attr {{ name }}_{{ c.name }} peerIDs 00000000,
attr {{ name }}_{{ c.name }} room {{ c.rooms|join(',') }},HomeMatic
{% endfor %}
# ------------------------

{% endfor %}

# ========================
# Plots
# ========================
{% for (name, p) in _fhem.plots|dictsort %}
define SVG_{{ name }} SVG FileLog_{{ name }}:{{ name }}:CURRENT
attr SVG_{{ name }} label "{{ p.title }}"
attr SVG_{{ name }} room Plots
{% endfor %}


{{ _fhem.extra }}

